body{
    font-size:13px;
    line-height:1.7em;
    padding:1em;
}

h4{
    margin-top:0;
}
ul{
    padding-left:1em;
}
ul li{
    display:block;
    padding:6px 0px;
}
ul li:hover{
    background:#eee;
    border-bottom:1px dotted #27c56e;
    color:#27c56e;
    cursor:pointer;
}

.app {
    text-align: justify;
}

.app-logo {
    margin-bottom:2em;
    text-align:center;
}
.app-logo img{
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
